# FORE School of Management

## Data Exploration & Vizualization - I : End Term Exam
## AY 2023-24 | Term 01 | BDA-04 | Sec H | Faculty : Prof. Amarnath Mitra

### Total Marks : 100 | Exam Duaration : 2 Hrs | Number of Questions : 20

### Note
### 1. Edit the Filename to "dev1_et_nb_2023-24_xxxx.ipynb" where "xxxx" is Student Roll Number
### 2. Answer to a Question must be given in the Cells below the Question.
### -----------------------------------------------------------------------------------------------------------------------------------------------------------

### Edit the Following Information with Your Name & Roll Number

#### Student Name : Jasleen Kaur Chadha
#### Student Roll Number : 045023

### -----------------------------------------------------------------------------------------------------------------------------------------------------------

### -------------------------- Part A : Python Programming [20 marks] --------------------------

#### A1 [05 marks]
#### Write a python code to search & display the key(s) of a given value from a dictionary. Test the code on the following dictionary: 
#### date_dict = {‘d1’: 2, ‘d2’: 9, ‘m1’: 1, ‘m2’: 1, ‘y1’: 2, ‘y2’: 0, ‘y3’: 2, ‘y4’: 2}
##### Example : If the input ‘value’ = 2, then the output ‘key(s)’ = [‘d1’, ‘y1’, ‘y3’, ‘y4’]

In [3]:
# A1

#### A2 [05 marks]
#### Write a python code to: 
#### (1) Generate a randon number 'n' between 10 & 99 (say, n=66). 
#### (2) Generate a list of 'n' (say, n=66) random numbers between 100 & 999. 
#### (3) Classify the list of 'n' (say, n=66) random numbers as prime & non-prime numbers. 
#### (4) Display the subset of prime & non-prime numbers.

In [37]:
import random
#Generate random numbers between 10 & 99
random_numbers= random.randint(10 ,99)
n= random_numbers
print ("The random number is:", n)

#Generate a list of n random numbers
random_numbers=[random.randint(100 , 999) for _ in range(n)]
print("List of random numbers:", random_numbers)

#Function to check if a number is prime
def is_prime(num):
    while n * n<=num:
        if num%num==0:
            return True
prime_numbers=[i for i in range(2, n+1) if is_prime(i)]
print(f"List of prime numbers upto the random number: {prime_numbers}")

The random number is: 34
List of random numbers: [118, 504, 668, 840, 151, 590, 913, 258, 399, 924, 795, 670, 549, 140, 869, 887, 725, 856, 179, 725, 673, 473, 404, 298, 724, 781, 878, 120, 815, 602, 280, 322, 931, 249]
List of prime numbers upto the random number: []

#### A3 [05 marks]
#### Write a python code to: 
##### (1) Generate 60 random numbers between 11001 & 11099. Each random number will represent the roll number of a student (in total 60)
##### (2) Create 30 random unique pairs (or groups) out of these 60 random roll numbers. {Ex. group 5 = (11023, 11032)}
##### (3) Allocate a random score to each group between 40 & 90. {Ex. group 5 : (11023, 11032) | score : 70}
##### (4) Display the following data : {Sl. No. | Roll No. | Group No. | Score} arranged in ascending order of roll number

In [38]:
import random

#Generate a list of n random numbers
random_numbers=[random.randint(11001 , 11099) for _ in range(60)]
print("List of random numbers:", random_numbers)

List of random numbers: [11045, 11050, 11059, 11040, 11007, 11042, 11037, 11050, 11031, 11031, 11061, 11088, 11042, 11092, 11083, 11091, 11074, 11056, 11052, 11058, 11044, 11060, 11084, 11076, 11056, 11088, 11029, 11023, 11090, 11077, 11068, 11065, 11074, 11002, 11086, 11034, 11042, 11022, 11089, 11058, 11048, 11004, 11078, 11007, 11033, 11063, 11045, 11078, 11004, 11081, 11014, 11025, 11087, 11076, 11088, 11092, 11027, 11055, 11061, 11040]

#### A4 [05 marks]
#### The local zoo sold tickets in 3 categories: {child, student, adult} priced at {INR 5, INR 10, & INR 20} respectively. On a particular weekend a total of 560 tickets were sold and a total of INR 6800 were collected. It was also found that on that weekend there were twice as many adults as there were chidren and there were twice as many students as there were adults. 
#### Deduce the number of children, students and adults present in the zoo on that weekend.

In [6]:
# A4

### ---------------- Part B : Data Manipulation using Python [80 marks] ----------------

### Import Exam Dataset & Create Student Specific Unique Dataset

In [17]:
# Required Libraries
import os
import pandas as pd 
import numpy as np
Myfile= pd.read_csv('customer_data.csv')

In [21]:
# Define File Path : Replace xxxxx with appropriate File Path
#file_path = "C:\Users\ubuntu\Desktop\DEV-I\customer_data.csv"
import pandas as pd
# Import / Read Dataset
df = pd.read_csv('customer_data.csv')

# Display Dataset
df.head()

   customer_id   surname country  gender  age  salary  credit_score  member
0     15634602  Hargrave  France  Female   42  101349           619       1
1     15647311      Hill   Spain  Female   41  112543           608       1
2     15619304      Onio  France  Female   42  113932           502       0
3     15701354      Boni  France  Female   39   93827           699       0
4     15737888  Mitchell   Spain  Female   43   79084           850       1

#### Create Student Specific Unique Dataset : In the Code below...

##### 1. Replace 'roll_number_last_4_digit' with Last 4 Digits of your Roll Number 
##### 2. Replace 'roll_number' with your Roll Number

#### Example : If the Roll Number is 012345 then
##### 1. roll_number_last_4_digit = 2345 and n = 2345
##### 2. roll_number = 012345 and random_state = 12345 (the non-zero part)

### -----------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Create Student Specific Unique Dataset
my_df = df.sample(n = roll_number_last_4_digit, random_state = roll_number, ignore_index = True)

# Example: my_df = df.sample (n = 2345, random_state = 12345, ignore_index = True) # Roll Number = 012345

# Display Sample Statistics
my_df.info()

#### B1 [05 marks]
#### Create a copy of 'my_df' named as 'my_df_1'. 
#### In ‘my_df_1’ dataset, create a new variable ‘membership’ from the variable ‘member’ having the following properties {member = 0 => membership = no | member = 1 => membership = yes}.
#### Use 'head()' function to display the 'my_df_1' dataset.

In [40]:
df.shape
df.columns
df=df.drop (['Customer id', 'Surname','Credit score','Membership Id'], axis=1)
df.head()

KeyError: "['Customer id', 'Surname', 'Credit score', 'Membership Id'] not found in axis"

#### B2 [05 marks]
#### Create a new dataset ‘my_df_2’ from ‘my_df_1’ where the ‘member’ variable is replaced with ‘membership’ variable. (That is, Drop the 'member' variable & Retain the 'membership' variable in 'my_df_2').
#### Use 'head()' function to display the 'my_df_2' dataset.

In [10]:
# B2

### ----- Use 'my_df_2' Dataset for Answering Questions : B3 to B15 -----

#### B3 [05 marks]
#### Display the customer surname (and the value) that has the highest repeat transactions or repeat purchase.

In [11]:
# B3

#### B4 [05 marks]
#### Display the country (and the value) that has (1) the highest number of membership, (2) the lowest number of membership {that is, membership = yes}.

In [12]:
# B4

#### B5 [05 marks]
#### Display the gender (and the value) that is (1) the youngest, (2) the oldest (use median statistic).

In [13]:
# B5

#### B6 [05 marks]
#### Display the country (and the value) that has (1) the richest customer, (2) the poorest customers.

In [14]:
# B6

#### B7 [05 marks]
#### Display the gender (and the value) that has (1) the best credit score, (2) the worst credit score.

In [15]:
# B7

#### B8 [05 marks] 
#### Display the country (and the value) with (1) highest variation in salary (2) lowest variation in salary.

In [16]:
# B8

#### B9 [05 marks]
#### Give the gender statistics with respect to country. 
##### 1. Country with highest number of male customer 2. Country with lowest number of male customer
##### 3. Country with highest number of female customer 4. Country with lowest number of female customer

In [17]:
# B9

#### B10 [05 marks]
#### Give the membership counts (both yes & no) with respect to both country & gender.

In [18]:
# B10

####  B11 [05 marks] 
#### Display the combination of country & gender (and the value) that has (1) the best credit score, (2) the worst credit score.

In [19]:
# B11

#### B12 [05 marks]
#### Display the top 3 & bottom 3 credit scores in the (1) members catergory, (2) non-members category

In [20]:
# B12

#### B13 [05 marks]
#### Display the top & bottom country (and the value) in terms of median salary in the (1) members category, (2) non-members category

In [21]:
# B13

#### B14 [05 marks]
#### Display the top 2 & bottom 2 age groups in the (1) members category, (2) non-members category

In [22]:
# B14

#### B15 [05 marks]
#### 1. Bifurcate ‘my_df_2’ into 2 subsets: ‘my_df_yes’ & ‘my_df_no’ based on membership. 
#### 2. Create a merged dataset ‘my_df_merged’ by inner merging of ‘my_df_yes’ having only following variables {gender, age, salary} with ‘my_df_no’ having only following variables {gender, credit_score} on ‘gender’. 
#### 3. Use 'head()' function to display the merged dataset 'my_df_merged' having the following columns (only): {gender, age, salary, credit_score}

In [23]:
# B15

#### B16 [05 marks]
#### Use 'my_df_merged' dataset to display gender-wise desciptive statistics {count, min, max, mean, std dev} of variables: {age, salary, credit_score}

In [24]:
# B16

### -----------------------------------------------------------------------------------------------------------------------------------------------------------

### ---x---x---x---x---x--- End of Question Paper ---x---x---x---x---x---